<div class="dijitDialog" role="dialog" aria-labelledby="${id}_title">
    <div data-dojo-attach-point="titleBar" class="dijitDialogTitleBar">
        <span data-dojo-attach-point="titleNode" class="dijitDialogTitle" id="${id}_title"
              role="header" level="1"></span>
        <span style="display: none;" data-dojo-attach-point="closeButtonNode" class="dijitDialogCloseIcon"
              data-dojo-attach-event="ondijitclick: onCancel" title="${buttonCancel}" role="button" tabIndex="-1">
            <span data-dojo-attach-point="closeText" class="closeText" title="${buttonCancel}">x</span>
        </span>
    </div>
    <div data-dojo-attach-point="containerNode" class="dijitDialogPaneContent">
            <h3>Ask a question or provide feedback</h3>

            <!-- layout table -->
            <table cellpadding="6" cellspacing="3">
                <tr>
                    <td>
                        <label for="feedbackType">This is a </label>
                        <select id="feedbackType" name="feedbackType" data-dojo-type="dijit/form/Select"
                                data-dojo-attach-point="feedbackTypeSelect">
                            <option value="question" selected="selected">Question</option>
                            <option value="comment" >Comment or Suggestion</option>
                            <option value="problem">Problem Report</option>
                            <option value="other">Other</option>
                        </select>
                    </td>
                </tr>
                <tr><td>Please enter your feedback:</td></tr>
                <tr>
                    <td>
                    <textarea id="feedbackText" name="feedbackText" data-dojo-type="dijit/form/SimpleTextarea"
                              data-dojo-attach-point="feedbackTextArea" rows="20" cols="80" style="width:auto;"></textarea>
                    </td>
                </tr>
                <tr><td>(optional) Provide a name and email address if you would like a response</td></tr>
                <tr>
                    <td>
                        <label for="fullname">Name:</label>
                        <input type="text" name="fullname" value="" style="width: 30em;" data-dojo-type="dijit/form/TextBox"
                               data-dojo-attach-point="fullnameText" data-dojo-props="trim:true, propercase:true" id="fullname" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="email">Email:</label>
                        <!-- WARNING: does not prevent an invalid email from being submitted -->
                        <input type="text" name="email" value="" style="width: 30em;" data-dojo-type="dijit/form/ValidationTextBox"
                               data-dojo-attach-point="emailText" id="email"
                               data-dojo-props="validator:dojox.validate.isEmailAddress, invalidMessage:'invalid email address'"/>
                    </td>
                </tr>

            </table>

        <div class="dijitDialogPaneActionBar right-align">
            <button class="left-align" data-dojo-type="dijit/form/Button" data-dojo-attach-point="resetButton">Reset</button>
            <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="cancelButton">Cancel</button>
            <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="submitButton" type="submit"><b>OK</b></button>
        </div>
    </div>
</div>