/* positioning goes in calling page */
.coordinatesToolbar {
    font-size: 11px;
    color: #CCC;
    font-family: "Trebuchet MS", Helvetica, Arial, "Lucida Grande", sans-serif;
    width: 190px;
    height: 65px;
    padding: 3px;
    background: rgb(100, 100, 100);
    background: rgba(100, 100, 100, 0.8);
    white-space: nowrap;
}