/* positioning goes in calling page */
.mapToolbar {
    border: solid 1px gray;
    padding: 0px;
    font-size: small;
}

.identifyByPointIcon {
    background-image: url(../images/cursor.png);
    width: 16px;
    height: 16px;
}

.identifyByRectIcon {
    background-image: url(../images/layer-shape.png);
    width: 16px;
    height: 16px;
}

.identifyByCoordsIcon {
    background-image: url(../images/layer-shape-xy.png);
    width: 16px;
    height: 16px;
}

.identifyByPolygonIcon {
    background-image: url(../images/layer-shape-polygon.png);
    width: 16px;
    height: 16px;
}

#identifyLabelDiv {
    display: inline-flex;
}


